/*! 
 * Copyright 2022 plusmeta GmbH
 * License: MIT
 */

 .spin {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.turn {
    animation-name: turn;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes spin {
    to {transform:rotate(0deg);}
    from {transform:rotate(360deg);}
}

@keyframes turn {
    to {transform:rotate(0deg);}
    from {transform:rotate(90deg);}
}